    /* Inicio de Estilos generales */
    @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Ubuntu&display=swap');
    * {
        background-color: #e0e0c8;
        font-family: 'Didact Gothic', 'Ubuntu', sans-serif;
        border: 10px;
        margin: 10;
        padding: 10px;
        content: normal;
    }
    /* Estilos generales */
.cabecera{
    width: 90%;
    margin: 2px auto;
    border: 4px solid lightslategray;
    }
   /* Estilos generales */
    /* Estilos para el menú */
    .menu {
        background-color: #d8c5c0;
        overflow: hidden;
    }

    .menu h1 {
        color: #071106;
        margin: 0;
        padding: 10px;
        float: left;
    }

    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu li {
        display: inline-block;
        margin-right: 10px;
    }

    .menu a {
        color: #071106;
        text-decoration: none;
        padding: 10px;
        font-size: 22px;
    }

    .menu a:hover {
        background-color: #d1abd3;
    }
    .clearfix{
        clear: both;
        
    }
    #content{
        float: left;
        width: calc(80% - 80px);
        min-height: 500px;
        background-color: violet;
        padding: 40px;
    }
    .article{
      color: black;
      font-size: 2em;
      margin-top: 15px;
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid white;
    }
    .article h2{
        font-size: 25px;
    }
    .article:first-child{
        padding-top: 10px;
        border-top: 1px solid white;
    }

    /* fin del css grid*/
    aside{
                float: left;
        width: calc(20% - 20px);
        background-color: #d1abd3;
        min-height: 1180px;
        padding: 10px;
    }
    /* CSS general para la barra de búsqueda */
    .barra-busqueda {
        
        width: 30px; 
        height: 20px; 
        font-size: 16px; 
    }
    
  /* Estilos generales */
/*estos son las media query*/

@media only screen and (max-width: 600px) {
    body {
        background-color: green;
    }
}
@media only screen and (min-width: 600px) {
    body {
        background-color: red;
    }
}
@media only screen and (min-width: 760px) {
    body {
        background-color: #284138;
    }
}
/* Estilos generales */
footer {
    background-color: #3f5b87;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline;
    margin: 0 10px; 
}

footer a {
    text-decoration: none;
    color: #333; 
}

footer a:hover {
    color: royalblue; 
}
/*fin del código general*/


/* inicio Códigos caro */
.formulario {
    display: block;
    min-width: 600px;
    margin-right: 10%;
    position: relative;
    overflow: hidden;
    background-color:beige;
      }
      .formulario p {
        color:  #F38630;
      }
      .widget_blog_subscription {
        display: block;
        margin: 50px auto;
        width: 30px;
        min-width: 300px;
        max-width: 600px;
        position: relative;
        overflow: hidden;
        background-color: #F6F6F2;
    }
    .widget_blog_subscription p {
        margin: 0;
        text-align: center;
    }
    .widget_blog_subscription p:first-child {
        margin: 40px 15px 0;
        color: #F38630;
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        font-family: 'PT Sans Narrow', sans-serif;
        letter-spacing: 1px;
    }
    .widget_blog_subscription input[type="text"] {
        margin: 45px 30px;
        color: #999;
        padding: 25px 15px !important;
        text-align: center;
        width: 100% !important;
        max-width: calc(100% - 90px);
        outline: none;
        border: 0;
        text-transform: uppercase;
        font-size: 12px;
    }
    .widget_blog_subscription input[type="text"]::-webkit-input-placeholder {
        color: #69D2E7;
    }
    .widget_blog_subscription input[type="text"]:-moz-placeholder {
        color: #69D2E7;
    }
    .widget_blog_subscription input[type="text"]::-moz-placeholder {
        color: #69D2E7;
    }
    .widget_blog_subscription input[type="text"]:-ms-input-placeholder {
        color: #69D2E7;
    }
    .widget_blog_subscription input[type="submit"] {
        margin: 0;
        background-color: #69D2E7;
        color: #fff;
        padding: 25px 15px !important;
        text-align: center;
        width: 100%;
        max-width: 100%;
        outline: none;
        border: 0;
        text-transform: uppercase;
        font-size: 12px;
        cursor: pointer;
        -webkit-transition: .1s all ease-in-out;
        -moz-transition: .1s all ease-in-out;
        -o-transition: .1s all ease-in-out;
        transition: .1s all ease-in-out;
    }
    .widget_blog_subscription input[type="submit"]:hover {
        background-color: #F38630;
    }
    

/* Fin Códigos caro */
/*Inicio del código del  experiencias [Juan]*/
 /* Inicio de Estilos para el banner (carrusel de imágenes) */
 .banner {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.banner .banner-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: none;
}

.banner .banner-img.active {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}
/* Fín de Estilos para el banner (carrusel de imágenes) */
/*Fin del código del  experiencias [Juan]*/