    /* Inicio de Estilos generales */
    @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Ubuntu&display=swap');
/* Estilos generales */
    * {
        background-color: #e0e0c8;
        font-family: 'Didact Gothic', 'Ubuntu', sans-serif;
        border: 10px;
        margin: 10;
        padding: 10px;
        content: normal;
    }
    /* Estilos generales */
.cabecera{
    width: 90%;
    margin: 2px auto;
    border: 4px solid lightslategray;
    }
    /* Fin de Estilos generales */
    /* Estilos para el menú */
    .menu {
        background-color: #d8c5c0;
        overflow: hidden;
    }

    .menu h1 {
        color: #071106;
        margin: 0;
        padding: 10px;
        float: left;
    }

    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu li {
        display: inline-block;
        margin-right: 10px;
    }

    .menu a {
        color: #071106;
        text-decoration: none;
        padding: 10px;
        font-size: 22px;
    }

    .menu a:hover {
        background-color: #d1abd3;
    }
    .clearfix{
        clear: both;
        
    }
    #content{
        float: left;
        width: calc(80% - 80px);
        min-height: 500px;
        background-color: violet;
        padding: 40px;
    }
    .article{
      color: black;
      font-size: 2em;
      margin-top: 15px;
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid white;
    }
    .article h2{
        font-size: 25px;
    }
    .article:first-child{
        padding-top: 10px;
        border-top: 1px solid white;
    }
    /* inicio del css grid*/
    .probando{
        display: grid;
        grid-template-areas: "aside";
        grid-template-columns: 200px;
        grid: area 100px;;
        color:red;
    }
    .formulario{
        background-color: yellow;
        padding: 10px;
        color: aqua;
        border: 2px dotted white
    }
    /* fin del css grid*/
    aside{
                float: left;
        width: calc(20% - 20px);
        background-color: #d1abd3;
        min-height: 1180px;
        padding: 10px;
    }
    /* CSS general para tu barra de búsqueda */
    .barra-busqueda {
        /* Estilos generales de la barra de búsqueda */
        width: 30px; /* Ajusta el ancho a tu preferencia */
        height: 20px; /* Ajusta la altura a tu preferencia */
        font-size: 16px; /* Tamaño de fuente */
    }
    
  
/*estos son las media query*/

@media only screen and (max-width: 600px) {
    body {
        background-color: green;
    }
}
@media only screen and (min-width: 600px) {
    body {
        background-color: red;
    }
}
@media only screen and (min-width: 760px) {
    body {
        background-color: #284138;
    }
}

 /* Inicio de Estilos para el banner (carrusel de imágenes) */
 .banner {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.banner .banner-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: none;
}

.banner .banner-img.active {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}
/* Fín de Estilos para el banner (carrusel de imágenes) */
footer {
    background-color: #3f5b87; /* Cambia el color de fondo según tus preferencias */
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline;
    margin: 0 10px; /* Añade margen entre los iconos de redes sociales */
}

footer a {
    text-decoration: none;
    color: #333; /* Cambia el color del texto según tus preferencias */
}

footer a:hover {
    color: royalblue; /* Cambia el color al pasar el mouse sobre los enlaces */
}
