@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.color1 {
    color: #071106;
}

.color2 {
    color: #284138;
}

.color3 {
    color: #d1abd3;
}

.color4 {
    color: #d8c5c0;
}

.color5 {
    color: #e0e0c8;
}

.color1 {
    color: #bcb88f;
}

.color2 {
    color: #d2d1b6;
}

.color3 {
    color: #282e55;
}

.color4 {
    color: #3f5b87;
}

.color5 {
    color: #c4d2e0;
}

body {
    background: rgb(255, 255, 255);
    color: #000;
    font-family: 'Didact Gothic', sans-serif;
}

.contenedor .encabezado .marca {
    font-size: x-large;
    margin-right: 8px;
    font-family: 'Ubuntu', sans-serif;
}

.contenedor {
    /* width: 90%; */
    /* max-width: 1000px; ancho máximo de la página */

    display: grid;
    gap: 20px;
    /*nos ahorramos tenes que poner márgenes entre los elementos*/

    /*3 columnas: contenido (con 2 widgets) + sidebar*/
    grid-template-columns: repeat(3, 1fr);

    /*4 filas: header, contenido, widgets, footer*/
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "encabezado encabezado encabezado"
        "widget widget widget"
        "contenido contenido contenido"
        "pie pie pie";
    
    width: 100vw;
    height: 100vh;
}

.contenedor .div,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .pie {
    padding: 10px;
}

.contenedor .encabezado {
    background:#3f5b87;
    grid-area: encabezado;
    height: 45px;
}

.contenedor .contenido {
    background: #fff;
    grid-area: contenido;
}

.logotipo:link,
.logotipo:visited,
.logotipo:hover,
.logotipo:active {
    color: #c4d2e0;
    text-decoration: none;
}

.items-menu{
    margin-left: 10px;
}

.items-menu:link,
.items-menu:visited,
.items-menu:hover,
.items-menu:active{
    color: white;
    text-decoration: none;
}

.flex-parent-element {
    display: flex;
    width: 100%;
}

.flex-child-element {
    flex: 1;
    /* border: 2px solid blueviolet; */
    margin: 10px;
}

.flex-child-element.primero {
    width: 0 20%;
}

.flex-child-element.segundo {
    color:#3f5b87;
    width: 0 80%;
    text-align: right;
    text-wrap: nowrap;
}

.contenedor .widget {
    background: #d8c5c0;
    color: #000;
    height: 100px;
    /*utilizamos flexbox para alinear el contenido*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    /* auto permite centrar nuestra página en forma horizontal */
}
.carrusel {
    background: #d8c5c0;
    color: #000;
    height: 100px;
    /*utilizamos flexbox para alinear el contenido*/
    display: flex;
    align-items: center;
    justify-content: center;

    /* auto permite centrar nuestra página en forma horizontal */
}



.contenedor .widget {
    grid-area: widget;
}

.contenedor .pie {
    background: #3f5b87;
    color: #fff;
    grid-area: pie;
    margin-top: auto;
    height: 50px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-areas: "encabezado encabezado encabezado"
            "widget widget widget"
            "contenido contenido contenido"
            "pie pie pie";
    }
}

@media screen and (max-width: 450px) {
    .contenedor {
        grid-template-areas: "encabezado encabezado encabezado"
            "widget widget widget"
            "contenido contenido contenido"
            "pie pie pie";
    }
}


    /* inicio Códigos caro */
    .contenedor-formulario {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f5f5f5;
    }
    
    .input-group {
        margin-bottom: 10px;
    }
    
    .label {
        display: block;
        font-weight: bold;
    }
    
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    button {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .checkbox {
        margin-right: 5px;
    }
    
    /* Estilos para el botón de enviar */
    button {
        background-color: #007BFF;
        color: #fff;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #0056b3;
    }
    

    .contenedor-widget{
        width: 80%;
    }
    .widget_blog_subscription {
        display: block;
        margin: 60% ;
        width: 30px;
        min-width: 300px;
        max-width: 600px;
        position: relative;
        overflow: hidden;
        background-color: #F6F6F2;
    }

    .widget_blog_subscription p {
        margin: 0;
        text-align: center;
    }

    .widget_blog_subscription p:first-child {
        margin: 10px 10px 0;
        color: #F38630;
        text-transform: uppercase;
        text-align: center;
        font-size: 10px;
        font-family: 'PT Sans Narrow', sans-serif;
        letter-spacing: 1px;
    }

    .widget_blog_subscription input[type="text"] {
        margin: 45px 30px;
        color: #999;
        padding: 25px 15px;
        text-align:center;
        width: 80%;
        max-width: calc(100% - 90px);
        outline: none;
        border:#071106;
        text-transform: uppercase;
        font-size: 12px;
    }

    .widget_blog_subscription input[type="text"]::-webkit-input-placeholder {
        color: #69D2E7;
    }

    .widget_blog_subscription input[type="text"]:-moz-placeholder {
        color: #69D2E7;
    }

    .widget_blog_subscription input[type="text"]::-moz-placeholder {
        color: #69D2E7;
    }

    .widget_blog_subscription input[type="text"]:-ms-input-placeholder {
        color: #69D2E7;
    }

    .widget_blog_subscription input[type="submit"] {
        margin: 0;
        background-color: #69D2E7;
        color: #fff;
        padding: 25px 15px;
        text-align: center;
        width: 100%;
        max-width: 100%;
        outline: none;
        border: 0;
        text-transform: uppercase;
        font-size: 12px;
        cursor: pointer;
        -webkit-transition: .1s all ease-in-out;
        /*transicion de 1segundo,fácil,cambia posición*/
        -moz-transition: .1s all ease-in-out;
        -o-transition: .1s all ease-in-out;
        transition: .1s all ease-in-out;
    }

    .widget_blog_subscription input[type="submit"]:hover {
        background-color: #F38630;
    }


    /* Fin Códigos caro */
    /*Inicio del código del  experiencias [Juan]*/
    /* Inicio de Estilos para el banner (carrusel de imágenes) */
    .banner {
        width: 100%;
        height: 300px;
        overflow: hidden;
        position: relative;
    }

    .banner .banner-img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        display: none;
    }

    .banner .banner-img.active {
        display: block;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
    }

    /* Fín de Estilos para el banner (carrusel de imágenes) */
    /*Fin del código del  experiencias [Juan]*/

    /*Inicio estilos quienes somos*/
    .banner {
        width: 100%;
        height: 300px;
        overflow: hidden;
        position: relative;
    }

    .banner .banner-img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        display: none;
    }
    .carrusel h1{
        color:#9b4024;
    }