@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', 'Ubuntu', sans-serif;
}

body {
    background: rgb(102, 102, 126);
    color: #000;
    position: relative; /*necesario para solucionar lo del footer,en parte*/
    padding-bottom: 3em;
}

.contenedor .encabezado .marca {
    font-size:medium;
    margin-right: 8px;
    font-family: 'Ubuntu', sans-serif;
}
/* Estilos para la versión de escritorio */
.contenedor {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "encabezado encabezado encabezado"
        "widget widget widget"
        "contenido contenido contenido"
        "pie pie pie";
    width: 100vw;
    height: 100vh;
}

.contenedor>div,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .pie {
    padding: 0px;
}

.contenedor .encabezado {
    background: #3f5b87;
    grid-area: encabezado;
    height: 100%;
}

.contenedor .contenido {
    background:  rgb(102, 102, 126);;
    grid-area: contenido;
    padding: 2px;
}

.logotipo:link,
.logotipo:visited,
.logotipo:hover,
.logotipo:active {
    color: #c4d2e0;
    text-decoration: green;
}

.items-menu {
    margin-left: 40px;
}

.items-menu:link,
.items-menu:visited,
.items-menu:hover,
.items-menu:active {
    color: white;
    text-decoration: red;
}

.flex-parent-element {
    display: flex;
    width: 100%;
}

.flex-child-element {
    display: flex;
    margin: 10px;
    color: white;
    border: black;
    font-style: normal;
    font-size: 23px;
    
    
    
}

/*.flex-child-element.primero {
    width: 0 20%;
    flex-grow: unset;
    color: #d8c5c0;
    
}*/

/*cierre practicando encabezado*/

/* Estilos para los elementos .flex-child-element.primero */
.flex-child-element.primero {
    width: 20%;
    flex-grow: 0;
    color: #d8c5c0;
    padding: 20px;
    border: 2px solid #0056b3;
    text-align: center;
    border-radius: 30px;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}

.flex-child-element.primero:hover {
    background-color: #0056b3;
    color: #fff;
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
}

/* Estilos para los elementos .flex-child-element.segundo */
.flex-child-element.segundo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #d8c5c0;
    border-radius: 100px;
    transition: background-color 0.3s, transform 0.3s;
    -webkit-transition: background-color 0.3s, transform 0.3s;
    -moz-transition: background-color 0.3s, transform 0.3s;
    -ms-transition: background-color 0.3s, transform 0.3s;
    -o-transition: background-color 0.3s, transform 0.3s;
}

.flex-child-element.segundo:hover {
    background-color: grey;
    color: #fff;
    transform: scale(1.1);
}

.flex-child-element.segundo:active {
    transform: scale(0.9);
}

/* Estilos para el encabezado */
.contenedor .encabezado {
    background: #4d5788;
    grid-area: encabezado;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor .encabezado .marca {
    font-size: 24px;
    margin-right: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(102, 102, 126);
    text-decoration: wheat;
}

.contenedor .encabezado .items-menu ul {
    background-color: rgb(102, 102, 126);
    list-style: none;
    margin: 2px;
    padding: 1px;
    display: flex;
}

.contenedor .encabezado .items-menu ul li {
    margin-right: 15px;
}

.contenedor .encabezado .items-menu ul li a {
    text-decoration: none;
    color: rgb(102, 102, 126);
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
}

.contenedor .encabezado .items-menu ul li a:hover {
    color: #c4d2e0;
}

.contenedor-ventas{
    background-color: #ccc;
    display: flex;
}
.formulario_busqueda{
    width: 90%;
    border-radius: 5px;
  
 
}

.carrusel {
    background: rgb(102, 102, 126);
    color: #000;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrusel1 {
    background-color: rgb(102, 102, 126);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget {
    grid-area: widget;
}

.contenedor .pie {
    grid-area: pie;
    background: white;
    margin-top: auto;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 1em;
}

/* Estilos para la versión de tablet */
@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-areas: "encabezado encabezado encabezado"
            "widget widget widget"
            "contenido contenido contenido"
            "pie pie pie";
        background-color: blue; /* Cambia el color de fondo para la versión de tablet */
        color: #555; /* Cambia el color del texto para la versión de tablet */
    }
}

/* Estilos para la versión móvil */
@media screen and (max-width: 450px) {
    .contenedor {
        grid-template-areas: "encabezado encabezado encabezado"
            "widget widget widget"
            "contenido contenido contenido"
            "pie pie pie";
        background-color: red; /* Cambia el color de fondo para la versión móvil */
        color: yellowgreen; /* Cambia el color del texto para la versión móvil */
    }
}




/* Estilos para el carrusel */

.banner {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.banner .banner-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: none;
    /*Ocultatodaslasimágenespordefecto*/position: absolute;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -ms-transition: opacity 2s;
    -o-transition: opacity 2s;
    -webkit-transition: opacity 2s;
}

.banner .banner-img.active {
    display: block; /* Muestra la imagen activa */
}

/* inicio Códigos formulario */
.contenedor-formulario {
    max-width: 400px;
    margin: auto;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(158, 147, 158);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.input-group {
    margin-bottom: 0px;
    width: 70%
}

.label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.checkbox {
    margin-right: 5px;
}

/* Estilos para el botón de enviar */
button {
    background-color: #282e55;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: blueviolet;
}