    /* Inicio de Estilos generales */
    @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Ubuntu&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.color1 {
    color: #071106;
}

.color2 {
    color: #284138;
}

.color3 {
    color: #d1abd3;
}

.color4 {
    color: #d8c5c0;
}

.color5 {
    color: #e0e0c8;
}

.color1 {
    color: #bcb88f;
}

.color2 {
    color: #d2d1b6;
}

.color3 {
    color: #282e55;
}

.color4 {
    color: #3f5b87;
}

.color5 {
    color: #c4d2e0;
}

body {
    background:  #8e8e9e;
    color: #000;
    font-family: 'Didact Gothic', sans-serif;
}

.contenedor .encabezado .marca {
    font-size: x-large;
    margin-right: 8px;
    font-family: 'Ubuntu', sans-serif;
}

.contenedor {
    /* width: 90%; */
    /* max-width: 1000px; ancho máximo de la página */

    display: grid;
    gap: 20px;
    /*nos ahorramos tenes que poner márgenes entre los elementos*/

    /*3 columnas: contenido (con 2 widgets) + sidebar*/
    grid-template-columns: repeat(3, 1fr);

    /*4 filas: header, contenido, widgets, footer*/
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "encabezado encabezado encabezado"
        "zona3 zona3 zona3"
        "contenido contenido contenido"
        "pie pie pie";
    
    width: 100vw;
    height: 100vh;
}

.contenedor>div,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .pie {
    padding: 1px;
}

.contenedor .encabezado {
    background: #636383;
    grid-area: encabezado;
    height: 45px;
}

.contenedor .contenido {
    background:  #8e8e9e;
    grid-area: contenido;
}

.logotipo:link,
.logotipo:visited,
.logotipo:hover,
.logotipo:active {
    color: #c4d2e0;
    text-decoration: none;
}

.items-menu{
    margin-left: 60px;
    text-align: center;
    
}

.items-menu:link,
.items-menu:visited,
.items-menu:hover,
.items-menu:active{
    color: white;
    font-weight:lighter;
    font-size: 23px;
    text-decoration: none;

}

.flex-parent-element {
    display: flex;
    width: 100%;
}

.flex-child-element {
    flex: 1;
    /* border: 2px solid blueviolet; */
    margin: 5px;
}

.flex-child-element.primero {
    width: 0 10%;
}

.flex-child-element.segundo {
    color:  #8e8e9e;
    width: 0 80%;
    text-align: center;
    
}

.contenedor .zona3 {
    background:  #8e8e9e;
    color: #000;
    height: 100px;
    /*utilizamos flexbox para alinear el contenido*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    /* auto permite centrar nuestra página en forma horizontal */
}
.carrusel {
    background:  #8e8e9e;
    color: #000;
    height: 100px;
    /*utilizamos flexbox para alinear el contenido*/
    display: flex;
    align-items: center;
    justify-content: center;

    /* auto permite centrar nuestra página en forma horizontal */
}



.contenedor .zona3 {
    grid-area: zona3;
}

.contenedor .pie {
    background:  #636383;;
    font-size: 20px;
    font-style: italic;
    grid-area: pie;
    margin-top: auto;
    height: 50px;
}

@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-areas: "encabezado encabezado encabezado"
            "zona3 zona3 zona3"
            "contenido contenido contenido"
            "pie pie pie";
    }
}

@media screen and (max-width: 450px) {
    .contenedor {
        grid-template-areas: "encabezado encabezado encabezado"
            "zona3 zona3 zona3"
            "contenido contenido contenido"
            "pie pie pie";
    }
}
