@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', 'Ubuntu', sans-serif;
}

body {
    background: rgb(43, 43, 68);
    color: #000;
    position: relative; /*necesario para solucionar lo del footer,en parte*/
    padding-bottom: 3em;
}

.contenedor .encabezado .marca {
    font-size:medium;
    margin-right: 8px;
    font-family: 'Didact Gothic', 'Ubuntu', sans-serif;
}
/* Estilos para la versiÃ³n de escritorio */

.contenedor .encabezado {
    background: rgb(44, 44, 63);
    grid-area: encabezado;
    height: 100%;
}
.contenedor {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "encabezado encabezado encabezado"
        "widget widget widget"
        "contenido contenido contenido"
        "pie pie pie";
    width: 100%;
    height: 100%;
}

.contenedor>div,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .pie {
    padding: 0px;
}

.contenedor .encabezado {
    background: #3f5b87;
    grid-area: encabezado;
    height: 100%;
}

.contenedor .contenido {
    background: #3f5b87; 
    grid-area: contenido;
    padding: 2px;
}
.main.contenido {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a una nueva lÃ­nea si no caben en el ancho de la pÃ¡gina */
    justify-content: space-between; /* Distribuye las tarjetas de manera uniforme */
    align-items: flex-start; /* Alinea las tarjetas en la parte superior */
}

.card {
    flex: 1;
    /*Permitequelastarjetasseexpandanparaocupartodoelanchodisponible*/
    background-color: blanchedalmond;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: calc(33.33% - 20px);
     /* Asegura que haya espacio entre las tarjetas */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}




.btn-primary {
    background-color: #3f5b87;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #26406c;
}
.btn-primary {
    background-color: #3f5b87;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s; /* Agregamos una transiciÃ³n para suavizar el cambio de color */
}

.btn-primary:hover {
    background-color: #26406c;
    
}

/* Agregamos un estilo adicional para cuando se hace clic en el botÃ³n */
.btn-primary:active {
    background-color: #3f5b87; /* El color vuelve al original cuando se hace clic */
    color: white; /* El texto sigue siendo blanco */
    transform: scale(1.1); /* Hace que el botÃ³n se agrande ligeramente al hacer clic */
}


.logotipo:link,
.logotipo:visited,
.logotipo:hover,
.logotipo:active {
    color: #c4d2e0;
    text-decoration: green;
}

.items-menu {
    margin-left: 40px;
}

.items-menu:link,
.items-menu:visited,
.items-menu:hover,
.items-menu:active {
    color: white;
    text-decoration: red;
}

.flex-parent-element {
    display: flex;
    width: 100%;
}

.flex-child-element {
    display: flex;
    margin: 10px;
    color: white;
    border: black;
    font-style: normal;
    font-size: 23px;
    
    
    
}


/* Estilos para los elementos .flex-child-element.primero */
.flex-child-element.primero {
    width: 20%;
    flex-grow: 0;
    color: rgb(168, 133, 168);
    padding: 20px;
    border: 2px solid #0056b3;
    text-align: center;
    border-radius: 30px;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-border-radius:10;
    -moz-border-radius:10;
    -ms-border-radius:10;
    -o-border-radius:10;
}

.flex-child-element.primero:hover {
    background-color: #0056b3;
    color: #fff;
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
}

/* Estilos para los elementos .flex-child-element.segundo */
.flex-child-element.segundo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: black;
    border-radius: 100px;
    transition: background-color 0.3s, transform 0.3s;
    -webkit-transition: background-color 0.3s, transform 0.3s;
    -moz-transition: background-color 0.3s, transform 0.3s;
    -ms-transition: background-color 0.3s, transform 0.3s;
    -o-transition: background-color 0.3s, transform 0.3s;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.flex-child-element.segundo:hover {
    background-color: grey;
    color: #fff;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.flex-child-element.segundo:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

/* Estilos para el encabezado */
.contenedor .encabezado {
    background: #4d5788;
    grid-area: encabezado;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor .encabezado .marca {
    font-size: 24px;
    margin-right: 10px;
    font-family: 'Didact Gothic', 'Ubuntu', sans-serif;
    color: rgb(102, 102, 126);
    text-decoration: wheat;
}

.contenedor .encabezado .items-menu ul {
    background-color: rgb(102, 102, 126);
    list-style: none;
    margin: 2px;
    padding: 1px;
    display: flex;
}

.contenedor .encabezado .items-menu ul li {
    margin-right: 15px;
}

.contenedor .encabezado .items-menu ul li a {
    text-decoration: none;
    color: rgb(19, 19, 39);
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
    -webkit-transition:2;
    -moz-transition:2;
    -ms-transition:2;
    -o-transition:2;
}

.contenedor .encabezado .items-menu ul li a:hover {
    color: #c4d2e0;
}

.contenedor-ventas{
    background-color: #ccc;
    display: flex;
}
.formulario_busqueda{
    width: 90%;
    border-radius: 5px;
  
 
}

.carrusel {
    background: rgb(44, 44, 63);
    color: #000;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrusel1 {
    background: rgb(44, 44, 63);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget {
    grid-area: widget;
    
}

.contenedor .pie {
    grid-area: pie;
    background: #172641;
    
    
    background: white;
    margin-top: auto;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 1em;
}

/* Estilos para la version de tablet */
/* Estilos para la versión de tablet */
@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-areas:
            "encabezado"
            "widget"
            "contenido"
            "pie";
        max-width: 100%;
        background-color: blue; /* Cambia el color de fondo para la versión de tablet */
        color: #555; /* Cambia el color del texto para la versión de tablet */
    }

    /* Ajustes para los elementos en la versión de tablet */
    .contenedor .encabezado .marca {
        font-size: 20px;
    }

    .contenedor .encabezado .items-menu ul {
        display: none; /* Oculta el menú en la versión de tablet */
    }

    .widget .card {
        width: 100%; /* Las tarjetas ocupan todo el ancho en la versión de tablet */
    }
}


/* Estilos para la versiÃ³n mÃ³vil */
/* Estilos para la versión móvil */
@media screen and (max-width: 450px) {
    .contenedor {
        grid-template-areas:
            "encabezado"
            "widget"
            "contenido"
            "pie";
        min-width: 100%;
        background-color: red; /* Cambia el color de fondo para la versión móvil */
        color: yellowgreen; /* Cambia el color del texto para la versión móvil */
    }

    /* Ajustes para los elementos en la versión móvil */
    .contenedor .encabezado .marca {
        font-size: 18px;
    }

    .contenedor .encabezado .items-menu ul {
        display: none; /* Oculta el menú en la versión móvil */
    }

    .widget .card {
        width: 100%; /* Las tarjetas ocupan todo el ancho en la versión móvil */
    }

    .contenedor-formulario {
        max-width: 100%; /* Formulario ocupa todo el ancho en la versión móvil */
    }
}



.box{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
  }
  .card{
    position: relative;
    width: 300px;
    height: 350px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
}
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }
  
  .card:hover .imgBx
  {
    bottom: 80px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
   text-transform: uppercase;
  } 

  .card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
   } 




/* Estilos para el carrusel */

.banner {
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
}

.banner .banner-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: none;
    /*OcultatodaslasimÃ¡genespordefecto*/position: absolute;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -ms-transition: opacity 2s;
    -o-transition: opacity 2s;
    -webkit-transition: opacity 2s;
}

.banner .banner-img.active {
    display: block; /* Muestra la imagen activa */
}

/* inicio CÃ³digos formulario */
.contenedor-formulario {
    max-width: 400px;
    margin: auto;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(158, 147, 158);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.input-group {
    margin-bottom: 0px;
    width: 70%
}

.label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.checkbox {
    margin-right: 5px;
}

/* Estilos para el botÃ³n de enviar */
button {
    background-color: #282e55;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: blueviolet;
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
    -webkit-border-radius:2;
    -moz-border-radius:2;
    -ms-border-radius:2;
    -o-border-radius:2;
}
.card1 {
    background-color: rgb(102, 102, 126);
    display: flex;
    justify-content:center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
    -webkit-border-radius:2;
    -moz-border-radius:2;
    -ms-border-radius:2;
    -o-border-radius:2;
}

.card-header {
    background-color: #3f5b87;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card-header1 {
    display: flex;
    justify-content: center;
    background-color: grey;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    background-color: #172641;
    padding: 10px;
}
.card-body1 {
    background-color: rgb(102, 102, 126);
    padding: 10px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    margin-top: 10px;
}

.btn-primary {
    background-color: #3f5b87;
    color: white;
    padding: 5px 10px;
    font-family: 'Didact Gothic', 'Ubuntu', sans-serif;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
    -webkit-border-radius:2;
    -moz-border-radius:2;
    -ms-border-radius:2;
    -o-border-radius:2;
}

.btn-primary:hover {
    background-color: #26406c;
    color: #fff;
  
}

/* Estilo personalizado para que la tarjeta ocupe todo el ancho de la pantalla */
.widget .card {
    width: 100%;
}


/* Estilos para la secciÃ³n de widgets (las tarjetas) */
.widget {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a una nueva lÃ­nea si no caben en el ancho de la pÃ¡gina */
    justify-content: space-between; /* Distribuye las tarjetas de manera uniforme */
}
.widget1 {
    
    display: inline-flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a una nueva lÃ­nea si no caben en el ancho de la pÃ¡gina */
    justify-content: space-between; /* Distribuye las tarjetas de manera uniforme */
}

.card {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: calc(33.33% - 20px);
     /* Asegura que haya espacio entre las tarjetas */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card-header {
    background-color: #3f5b87;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 10px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    margin-top: 10px;
}

.btn-primary {
    background-color: #3f5b87;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #26406c;
}
/* Estilos para la secciÃ³n de widgets (las tarjetas) */
.widget {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a una nueva lÃ­nea si no caben en el ancho de la pÃ¡gina */
    justify-content: space-between; /* Distribuye las tarjetas de manera uniforme */
}



.card-header {
    background-color: #3f5b87;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 10px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    margin-top: 10px;
}

.btn-primary {
    background-color: #3f5b87;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-primary:hover {
    background-color: #26406c;
}
.pie {
    background-color: #3f5b87;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: content;
    align-items: center;
}

.footer-social a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.footer-social a:hover {
    color: #c4d2e0;
}

.footer-text {
    font-size: 14px;
}

.contenido1 {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(44, 44, 63); ;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para las tarjetas */
.card2 {
    background-color: rgb(56, 56, 85);
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    background-color: #172641;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 16px;
    margin: 10px 0;
}

/* Estilos para el formulario */
.formulario {
    max-width: 400px;
    margin: 0 auto;
}

.input-group {
    margin: 10px 0;
}

.label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius:2;
    -moz-border-radius:2;
    -ms-border-radius:2;
    -o-border-radius:2;
}

.checkbox {
    margin-right: 10px;
}

button {
    background-color: rgb(44, 44, 63);
    
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para el mapa */
iframe {
    width: 100%;
    height: 300px;
    border: none;
}

/* Estilos para el carrusel y el widget */
.carrusel2, .widget2 {
    background-color: rgb(44, 44, 63);;
    
    padding: 20px;
    margin: 10px 0;
}

.widget2 img {
    vertical-align: middle;
    margin-left: 10px;
}

/* Estilos para el Ã­cono */
i {
    font-size: 24px;
    vertical-align: middle;
    margin-left: 10px;
}
.color1 {color: #071106;}
.color2 {color: #284138;} 
.color3 {color: #d1abd3;}
.color4 {color: #d8c5c0;}  
.color5 {color: #e0e0c8;} 


.button1 {
    padding: 10px 20px;
    background-color: black;
    color: whitesmoke;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    width: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
h3 {
    background-color: salmon;
    display: flex;
        font-size: 50px;
        justify-content: flex-end;
}

#pokemonImageContainer {
    margin: 20px;
}

#pokemonImage {
    max-width: 100%;
    height: auto;
    background-color: transparent;
}


