/* Estilos generales a toda la Página*/
*{
    background-color: black;

}

/* Estilos para el contenedor del encabezado */
.header-container {
    background-color: #333;
    padding: 50px;
}

/* Estilos para el encabezado y la navegación */
header {
    text-align: left;
    color: white;
    font-size: 24px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 5px;
}
body{
    background-color: aliceblue;
    margin: 15px;
    padding: 15px;
}
h1, h2, p{
    background-color: white;
    text-align: justify;
    color: blue;
}

/* Estilos para pantallas pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 767px) {
    /* Agrega aquí tus estilos para pantallas pequeñas */
}

/* Estilos para pantallas medianas y grandes (tabletas y escritorios) */
@media (min-width: 768px) {
    /* Agrega aquí tus estilos para pantallas medianas y grandes */
}